.table{
    border: 2px solid green;
}

.th {
    border: 2px solid lightgreen;
}

.td {
    font-weight: 500;
    padding: 0 20px;
    border: 2px solid grey;
}

.tr {
    border-bottom: 2px solid #000000;
    font-size: 14px;
}